@model List<gcLimat.Models.ViewModels.ListMantenimientoViewModel>
@{
    <br>
    <br>
    ViewBag.Title = "Mantenimientos realizados al equipo: ";  
}<style type="text/css">
    tr:nth-child(even) {
        background-color: #ddd;
    }
</style>

<h2>@ViewBag.Title</h2>
<br>
<br>
<div class="row">
    <a href="~/equipo/NuevoMantenimiento" class="btn btn-primary">Nuevo Manteniento</a>
    <br><br>
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>ID del Mantenimiento</th>
                <th>ID del equipo</th>
                <th>Tipo de Mantenimiento</th>
                <th>Descripción</th>
                <th>Supervisor</th>
                <th>Fecha</th>
            </tr>
            @foreach (var oMantenimiento in Model)
            {
                <tr>
                    <td>@oMantenimiento.idMantenimiento</td>
                    <td>@oMantenimiento.idEquipo</td>
                    <td>@oMantenimiento.tipoMantenimiento</td>
                    <td>@oMantenimiento.descripcion</td>
                    <td>@oMantenimiento.supervisor</td>
                    <td>@oMantenimiento.fecha</td>
                </tr>
            }
        </table>
    </div>

</div>