<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title GD LiMAT</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        * {
            margin: 0px;
            padding: 0px;
        }
        *#header {
            margin: auto;
            width: 500px;
            font-family: Arial, Helvetica, sans-serif;
        }
        ul, ol {
            list-style: none;
        }
        .nav > li {
            float: left;
        }
        .nav li a {
            background-color: #000;
            color: #fff;
            text-decoration: none;
            padding: 10px 12px;
            display: block;
        }
            .nav li a:hover {
                background-color: #434343;
            }
        .nav li ul {
            display: none;
            position: absolute;
            min-width: 140px;
        }
        .nav li:hover > ul {
            display: block;
        }
        .nav li ul li {
            position: relative;
        }
            .nav li ul li ul {
                right: -140px;
                top: 0px;
            }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GD LIMAT", "Login", "Accountcs", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Equipos registrados", "Index", "equipo")</li>
                    <li>
                        @Html.ActionLink("Pruebas", "", "")
                        <ul>
                            <li>@Html.ActionLink("Pruebas Fisicas", "Index", "PruebaFisica")</li>
                            <li>@Html.ActionLink("Pruebas Quimicas", "Index", "PruebaQuimica")</li>
                            <li>@Html.ActionLink("Pruebas Eletcricas", "Index", "PruebaElectrica")</li>
                            <li>@Html.ActionLink("Pruebas Cromatograficas", "Index", "PruebaCromatografica")</li>
                        </ul>
                    </li>
                    <li>
                        @Html.ActionLink("Mantenimiento", "Index", "Mantenimiento")
                        <ul>
                            <li>@Html.ActionLink("Mantenimiento Preventivo", "MantenimientoPreventivo", "equipo")</li>
                            <li>@Html.ActionLink("Mantenimiento Correctivo", "MantenimientoCorrectivo", "equipo")</li>
                            <li>@Html.ActionLink("Recoleccion de Muestras", "RecoleccionMuestras", "equipo")</li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("Reportes", " ", " ")</li>
                    <li>@Html.ActionLink("Unidades de medida", "Index", "UnidadMedida")</li>
                </ul>
        </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p align="center">&copy; @DateTime.Now.Year || LIMAT</p>
             <h6 align="center">
    Esta plataforma, incluidos los datos adjuntos, es para el uso exclusivo de personal autorizado y contiene información confidencial y protegida legalmente. Si usted no ha sido autorizado. Por favor abandonar la plataforma de manera inmediata, de lo contrario debera atenerse a medidas legales por parte del INSTITUTO COSTARRICENSE DE ELECTRICIDAD.
</h6> 
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
